name: Wireguard
services:
  wg-easy:
    # https://wg-easy.github.io/wg-easy/latest/
    image: ghcr.io/wg-easy/wg-easy:15
    container_name: wg-easy
    restart: unless-stopped
    env_file: wg-easy.env
    volumes:
      - wireguard:/etc/wireguard
      - /lib/modules:/lib/modules:ro
    networks:
      - wireguard
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1

volumes:
  wireguard:
    name: wireguard

networks:
  wireguard:
    name: wireguard